h1{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  font-weight: bolder;
  padding-bottom: 2%;
  padding-top: 2%;
}
#name{
  color: rgb(109, 221, 81);
}
.all-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#quotes-button{
  float: right;
}
.card{
  margin-bottom: 2%;
  background-color: grey;
  box-shadow: 5px 10px;
}