h1{
  font-family: 'Oxygen', sans-serif;
  color: black;
  text-align: center;
  font-weight: bolder;
  padding-bottom: 2%;
  padding-top: 2%;
}
#name{
  color: rgb(212, 65, 89);
}
.all-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#quotes-button{
  float: right;
}
.card{
  margin-bottom: 2%;
  background-color: white;
  box-shadow: 5px 10px;
}