#delete{
  font-size: 20px;
  float: right;
  margin-right: 2%;
}
#del{
  float: right;
  font-size: 16px;
}
#hate{
  font-size: 16px;
}
.hate{
  margin-left: 10px;
  background-color: black;
  color: white;
}
hr{
  background-color: darkcyan;
}
#button{
  margin-top: 5%;
  margin-bottom: 10%;
}
#when{
  float: right;
  font-family: 'Courier New', Courier, monospace;
}